{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="container content">
    <h1>Анализ метрологических данных региона</h1>
    <p style="margin-bottom: 50px">Создайте <span><a href="{% url 'metrology:create'%}">новый</a></span> проект</p>
    {% if metrology_list %}
        <div class="row">
        {% for elem in metrology_list%}
            <div class="col-md-4">
            {% include 'metrology/inc/metrology_project.html' with project_elem=elem %}
            </div>
        {% endfor %}
        </div>
    {% else %}

    {% endif %}
    </div>
{% endblock %}