{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="container content">
        {% include 'projects/inc/project_apps.html' with project=project %}
        <h1 style="margin-bottom: 50px">Составьте расписание использования приборов на каждый день:</h1>
        <div class="row" style="margin-bottom: 40px">
        {% for device in devices %}
            <div class="col-md-3" style="margin-bottom: 10px;">
                <a href="{% url 'projects:electricity:user_devices_add' pk=project.id device_id=device.id %}">
                    <div class="d-flex align-items-center justify-content-between" style="background-color: #5b72f5; padding: 30px; border-radius: 30px">
                        <div>
                            <img style="height: 40px" src="{% static 'home/img/plus_white.svg' %}">
                        </div>
                        <div style="font-size: 17px">
                            {{device.name}}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
        {% for day in days %}
            <h2 style="text-align: center">{{ day.name }}</h2>
            <div style="border: 5px solid #5b72f5; padding: 30px; border-radius: 50px; margin-bottom: 40px">
                {% for ud in user_devices %}
                {% if ud.days == day%}
                    <div style="font-size: 17px; width: 100%; margin-bottom: 10px">
                            <div class="row">
                                <div class="col-4">{{ud.device}}</div>
                                <div class="col-4" style="text-align: center">{{ ud.start_time }} - {{ ud.end_time }}</div>
                                <div class="col-4">
                                    <div class="d-flex justify-content-end">
                                        <a style="color: #5b72f5" href="{% url 'projects:electricity:user_devices_update' pk=project.id device_id=ud.id%}">Update</a>
                                        <span> | </span>
                                        <a style="color: #5b72f5" href="{% url 'projects:electricity:user_devices_delete' pk=project.id device_id=ud.id%}">Delete</a>
                                        <span> | </span>
                                        <a style="color: #5b72f5" href="{% url 'projects:electricity:user_devices_clone' pk=project.id device_id=ud.id%}">Clone</a>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 2px; width: 100%; background-color: #5b72f5"></div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    <button onclick="window.location.href='{% url 'projects:electricity:statistics' pk=project.id %}';return false;" style="text-align: center" class="submit-but center-but">Подтвердить</button>
    </div>

{% endblock %}