<div class="metrology-title d-flex">
    <div style="background-color: white; height: 100%; width: 4px; border-radius: 2px; margin-right: 15px"></div>
    <div>
        <p>Название проекта: <span style="font-size: 30px; font-weight: bolder">{{ project.name }}</span></p>
        <p>Регион: <span style="font-size: 30px; font-weight: bolder">{{ project.region }}</span></p>
        <p>Дата начала: <span style="font-size: 30px; font-weight: bolder">{{ project.begin_date }}</span></p>
        <p>Дата конца: <span style="font-size: 30px; font-weight: bolder"> {{ project.end_date }} </span></p>
    </div>
</div>