{% extends "base.html" %}
{% block title %}
CyberEnergy
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% load static %}
<div class="container content">
    <h1>Приветствую {{user.username}}!</h1>
    <p>Перейдите к вашим <span><a href="{% url 'projects:all'%}">проектам</a></span></p>
</div>
{% else %}
<div class="container content">
    <h1>Приветствую!</h1>
    <p>Для того, чтобы начать работу с нашими инструментами, <span><a href="{% url 'login'%}?next={% url 'home:home'%}">авторизируйтесь</a></span> на сайте</p>
</div>
{% endif %}
{% endblock %}